/* || Fonts */

@font-face {
  font-family: "Glamore";
  src: url("./fonts/GLAMORE\ Free\ Trial-fd23.woff2") format("woff2"),
    url("./fonts/GLAMORE\ Free\ Trial-12a4.woff") format("woff");
}

/* || Animations */

@keyframes down-arrow {
  40% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(8px);
  }
  60% {
    transform: translateY(0px);
  }
  70% {
    transform: translateY(8px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes drawer-open {
  from {
    transform: translate(100%, 0);
  }
  to {
    transform: translate(0%, 0);
  }
}

@keyframes drawer-close {
  from {
    transform: translate(0%, 0);
  }
  to {
    transform: translate(100%, 0%);
  }
}

/* || General styles */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 16px;
  font-family: "Cormorant", serif;
  background-color: #080810;
  color: white;
  scroll-behavior: smooth;
  overflow: auto;
}

body {
  margin: 0;
  overflow-x: hidden;
  caret-color: transparent;
}

a,
button {
  all: unset;
}

ul {
  list-style: none;
}

p {
  max-width: 25rem;
}

hr {
  display: none;
}

.logo {
  font-family: "Glamore";
  font-size: 2rem;
}

.header-hero {
  height: 100vh;
  min-height: 40em;
  background: linear-gradient(to bottom, transparent 0%, #080810 90%),
    url("./assets/images/header.jpg") no-repeat center;
  background-size: cover;
  display: flex;
  flex-direction: column;
}

.header-hero .header-text {
  display: flex;
  justify-content: center;
  padding-top: 1rem;
  align-items: center;
  height: 100%;
  font-size: 1.6rem;
  width: 100%;
}

.header-text h1 {
  max-width: 25rem;
}

.header-hero h1 span {
  color: #ddb77e;
}

.section-title {
  color: #ddb77e;
  font-size: 2.5rem;
}

.header-hero,
.header,
.drawer,
.lp-content,
.footer {
  padding: 0.5rem 2rem;
}

.header,
.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header {
  background-color: #080810;
  position: fixed;
  top: 0;
  width: 100%;
}

.navigation li {
  display: inline-block;
}

.navigation a,
.drawer .navigation .drawer-browse-btn {
  color: white;
}

.navigation a,
.drawer .navigation .drawer-browse-btn {
  padding: 0.2rem 0.6rem;
  border-radius: 0.8rem;
}
.navigation li a:hover {
  color: #ddb77e;
}

.navigation .browse-btn {
  background-color: #ddb77e;
  color: black;
}

.navigation .browse-btn:hover {
  background-color: #d09c4e;
  color: white;
}
.drawer .navigation .browse-btn:hover {
  color: #ddb77e;
}

.burger-menu {
  width: 1.6rem;
}

.fixed-body {
  overflow: hidden;
  height: 100vh;
}

.drawer {
  position: fixed;
  width: 100vw;
  height: 100%;
  top: 0;
  right: 0;
  background-color: #080810;
  overflow: hidden;
  animation: drawer-open 1s;
}

.drawer .close-btn {
  width: 2.5rem;
}

.drawer .navigation {
  padding-top: 2rem;
  font-size: 1.8rem;
  display: flex;
  flex-direction: column;
}

.drawer .navigation ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.drawer .navigation .browse-btn {
  display: flex;
  flex-direction: column;
  background-color: transparent;
}

.drawer-browse-btn {
  align-self: center;
}

.drawer .divider {
  display: block;
  border: 1px solid #f5f5f5;
  width: 100%;
  margin: 0.8rem;
}

.down-arrow {
  align-self: center;
  width: 3rem;
  animation: down-arrow 4s ease infinite;
  cursor: pointer;
}

.fixed-body .down-arrow {
  visibility: hidden;
}

.footer {
  width: 100%;
  height: 3rem;
}

/* || Media queries */

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
  .burger-menu {
    display: none;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .header-hero {
    height: 100vh;
    min-height: 40em;
    background: linear-gradient(to bottom, transparent 75%, #080810 90%),
      url("./assets/images/header.jpg") no-repeat center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .header-hero .header-text {
    justify-content: right;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
