/* || Fonts */

@font-face {
  font-family: "Glamore";
  src: url("./fonts/GLAMORE\ Free\ Trial-fd23.woff2") format("woff2"),
    url("./fonts/GLAMORE\ Free\ Trial-12a4.woff") format("woff");
}

/* || Animations */

@keyframes down-arrow {
  40% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(8px);
  }
  60% {
    transform: translateY(0px);
  }
  70% {
    transform: translateY(8px);
  }
  100% {
    transform: translateY(0px);
  }
}

/* || General styles */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 16px;
  font-family: "Cormorant", serif;
  background-color: #080810;
  color: white;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  overflow-x: hidden;
  min-height: 200vh;
  caret-color: transparent;
}

a,
button {
  all: unset;
}

ul {
  list-style: none;
}

p {
  max-width: 25rem;
}

.logo {
  font-family: "Glamore";
  font-size: 2rem;
}

.header-hero {
  height: 100vh;
  min-height: 40em;
  background: linear-gradient(to bottom, transparent 60%, #080810 90%),
    url("./assets/header.jpg") no-repeat center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.header-hero .header-text {
  display: flex;
  align-items: center;
  justify-content: right;
  height: 100%;
  font-size: 1.6rem;
  width: 100%;
}

.header-text h1 {
  max-width: 25rem;
}

.header-hero h1 span {
  color: #ddb77e;
}

.section-title {
  color: #ddb77e;
}

.header-hero,
.header {
  padding: 0.5rem 2rem;
}

.header,
.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header {
  background-color: #080810;
  position: fixed;
  top: 0;
  width: 100%;
}

.navigation li {
  display: inline-block;
}

.navigation a {
  color: white;
}

.navigation a {
  transition: 0.2s;
  padding: 0.2rem 0.6rem;
  border-radius: 0.8rem;
}
.navigation li a:hover {
  color: #ddb77e;
}

.navigation .browse-btn {
  background-color: #ddb77e;
  color: black;
}
.navigation .browse-btn:hover {
  background-color: #d09c4e;
}

.burger-menu {
  width: 1.6rem;
}

.down-arrow {
  width: 3rem;
  animation: down-arrow 4s ease infinite;
  cursor: pointer;
}

.about,
.explore,
.sources {
  display: none;
}

/* || Media queries */

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
  .burger-menu {
    display: none;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
