@font-face {
  font-family: "Glamore";
  src: url("./fonts/GLAMORE\ Free\ Trial-fd23.woff2") format("woff2"),
    url("./fonts/GLAMORE\ Free\ Trial-12a4.woff") format("woff");
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 16px;
  font-family: "Cormorant", serif;
  background-color: #080810;
  color: white;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  overflow-x: hidden;
  min-height: 200vh;
  caret-color: transparent;
}

a,
button {
  all: unset;
}

ul {
  list-style: none;
}

p {
  max-width: 30rem;
}

.logo {
  font-family: "Glamore";
  font-size: 2rem;
}

.header-hero {
  height: 100vh;
  min-height: 40em;
  background: linear-gradient(to bottom, transparent 60%, #080810 90%),
    url("./assets/header.jpg") no-repeat center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.header-hero .header-text {
  display: flex;
  align-items: center;
  justify-content: right;
  height: 100%;
  font-size: 1.6rem;
  width: 100%;
}

.header-text h1 {
  max-width: 25rem;
}

.header-hero h1 span {
  color: #ddb77e;
}

.section-title {
  color: #ddb77e;
}

.header-hero,
.header {
  padding: 0.5rem 2rem;
}

.header,
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header {
  background-color: #080810;
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar li {
  display: inline-block;
}

.navbar a {
  color: white;
}

.navbar a {
  transition: 0.2s;
  padding: 0.2rem 0.6rem;
  border-radius: 0.8rem;
}
.navbar li a:hover {
  color: #ddb77e;
}

.navbar .browse-btn {
  background-color: #ddb77e;
  color: black;
}
.navbar .browse-btn:hover {
  background-color: #d09c4e;
}

.down-arrow {
  width: 3rem;
  animation: arrow 4s ease infinite;
  cursor: pointer;
}

.about,
.explore,
.sources {
  display: none;
}

@keyframes arrow {
  40% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(8px);
  }
  60% {
    transform: translateY(0px);
  }
  70% {
    transform: translateY(8px);
  }
  100% {
    transform: translateY(0px);
  }
}
